@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  font-family: 'Lato', system-ui, -apple-system, 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: inherit;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}
